// Файл для повторяющихся классов
//========================================================================================================================//
//<ОСНОВНОЙ БЛОК>
.title {
  color: inherit;
  font-size: 44px;
  font-weight: 700;
  line-height: math.div(55, 44) * 100%;
  @media (max-width: $md3+px) {
    font-size: 32px;
  }
}
.text {
  font-size: 16px;
  line-height: math.div(24, 16) * 100%;
  color: inherit;
}
.title-posts {
  font-size: 22px;
  @media (max-width: $md3+px) {
    text-align: center;
    font-size: 18px;
  }
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  // .social__item

  &__item {
    transition: color 0.3s ease 0s;
    margin: 0px 18px;
    font-size: 30px;
    color: inherit;
    @media (min-width: $md2+px) {
      &:hover {
        color: #ff6464;
      }
    }
  }
}

//</ОСНОВНОЙ БЛОК>
//========================================================================================================================//
// <ГОТОВЫЕ КЛАССЫ>
// <IBG>
.ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
body.ie {
  .ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .ibg img {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
// </IBG>
// <ГОТОВЫЕ КЛАССЫ>
