.article {
  max-width: 700px;
  padding: 0px 10px 30px;
  margin: 0px auto;
  // .article__title

  &__title {
    font-size: 34px;
    font-weight: 700;
    line-height: math.div(50, 34) * 100%;
    margin: 0px 0px 20px 0px;
    @media (max-width: $md3+px) {
      font-size: 28px;
    }
  }

  // .article__info

  &__info {
    display: flex;
    margin: 0px 0px 20px 0px;
  }

  // .article__year

  &__year {
    background-color: #ff7c7c;
    border-radius: 16px;
    height: 25px;
    display: flex;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  // .article__category

  &__category {
    align-self: center;

    font-size: 20px;
    line-height: math.div(25, 20) * 100%;
    margin: 0px 0px 0px 25px;

    @media (max-width: $md3+px) {
      font-size: 18px;
    }
  }

  // .article__text

  &__text {
    p {
      @extend .text;
      margin: 0px 0px 20px 0px;
    }
    img {
      max-width: 100%;
      margin: 0px 0px 20px 0px;
    }
  }
}
.title {
}
