//========================================================================================================================//
@use 'sass:math'; // библиотека
@import '_mixin.scss'; // _mixin должен быть выше _fonts
@import '_fonts.scss';
@import '_icons.scss';

// <Font by default>
$font_family_default: 'Heebo';
// </Font by default>
// <Color by default>
$color_default: '#21243d';
// </Color by default>

// <Variables>
$min_width: 320px;
$max_width: 1152;
$max_width_container: 856;
$md1: $max_width_container + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// </Variables>
//========================================================================================================================//
// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРИ>

@import '_null.scss';

html,
body {
  font-family: $font_family_default;
  min-width: $min_width;
  // overflow: hidden;
}
body {
  color: $color_default;
  font-size: 14px;
  &.lock {
    overflow: hidden;
  }
}
// __content
//? Убрать висячий отступ
// *:last-child {margin-bottom: 0;}
// wrapper
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &.loaded {
  }
}
// container
.container {
  max-width: $max_width_container + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: 750px;
  }
  @media (max-width: $md2+px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРИ>
//========================================================================================================================//
// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>
@import '_forms.scss';
@import '_ui.scss';
// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>
//========================================================================================================================//
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';
@import 'works.scss';
@import 'blog.scss';
@import 'article.scss';

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
//========================================================================================================================//
// <ОСНОВНОЙ БЛОК>
.page {
  padding: 90px 0px 0px 0px;
  flex: 1 1 auto;
  @media (max-width: $md3+px) {
    padding: 30px 0px 0px 0px;
  }
}
// </ОСНОВНОЙ БЛОК>
